<%- include("../partials/header") %>

<div class="row justify-content-center">
	<div class="col-md-12 text-center m-4">
		<h1>Change Review</h1>		
	</div>
	<div class="col-xs-8 col-md-6 col-lg-4">
		<form action="/campgrounds/<%= campground_slug %>/reviews/<%= review._id %>?_method=PUT" method="POST">
			<div class="form-group">
				<label for="rating">Leave a rating:</label>
				<input type="hidden" name="review[rating]" id="rating" />
				<ul onMouseOut="resetRating();" class="d-flex justify-content-around mx-4 px-5">
					<li class="star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);">★</li>
					<li class="star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);">★</li>
					<li class="star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);">★</li>
					<li class="star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);">★</li>
					<li class="star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);">★</li>
				</ul>
			</div>
			<div class="form-group">
				<textarea class="form-control" type="text" name="review[text]" 
						  placeholder="Write your review here..." rows="5"><%= review.text %></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block">Submit a Review</button>
			</div>
		</form>
		<a href="/campgrounds/<%= campground_slug %>">Go Back</a>
	</div>
</div>

<%- include("../partials/footer") %>